# Angular build output
frontend/out-tsc/
frontend/.angular
frontend/node_modules/
frontend/dist/*
frontend/.vscode/

# VSCode
.vscode/

# JetBrains IDEs
.idea/

# Logs
*.log

# SQLite database
null3.db

# OS
.DS_Store

# Go
backend/bin/
backend/internal/core/frontend/fs/*
!backend/internal/core/frontend/fs/.gitkeep
backend/null3.db
backend/coverage.out

# Editor
*.swp
*.swo

# Environment
.env

# Misc
*.tgz
*.gz
*.zip
*.bak
*.tmp

# Ignore release builds
null3-server
