.entry-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
  height: 56px;
}

.fab-fixed {
  position: fixed;
  bottom: 24px;
  right: 24px;
  z-index: 1000;
}
