<form [formGroup]="form" (ngSubmit)="login()" class="login-form">
  <mat-form-field class="full-width">
    <mat-label>Login</mat-label>
    <input matInput formControlName="login" autocomplete="username" required />
    @if (
      form.controls["login"].hasError("required") &&
      form.controls["login"].touched
    ) {
      <div>
        <mat-error>This field is required</mat-error>
      </div>
    }
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Password</mat-label>
    <input
      matInput
      formControlName="password"
      type="password"
      autocomplete="current-password"
      required
    />
    @if (
      form.controls["password"].hasError("required") &&
      form.controls["password"].touched
    ) {
      <div>
        <mat-error>This field is required</mat-error>
      </div>
    }
  </mat-form-field>

  <button
    matButton
    type="submit"
    class="primary-button"
    [disabled]="form.invalid || isSubmitting()"
  >
    Login
  </button>

  @if (error()) {
    <div class="error-message">
      <mat-error>{{ error() }}</mat-error>
    </div>
  }
</form>
